img{
	box-sizing: border-box;
	width: 215px;
	height: 315px;
	}
figure{
	font: right;
	text-align: center;
	fout-style: italic;
	fount-size: small;
	border: thin silver solid;
  	margin: 1em;
  	padding: 0.5em;
  	width: 30%;
}
.coll{
  float: left;
  width: 20%;
  padding: 5px;
}