<html>
	<body>
		<hr>
		<hr>
			<table border=1>
				{% for single in data %}
				<form action="/deleteData/">
				<tr>
					<td> {{ single.name}} </td>
					<td> {{ single.password }} </td>
					<td>{{single.studCourse}}</td>
					<td>
						<input type="text" name="del" value="{{single.name}}"> 
						<input type="submit" value="Delete">
					</td>
				</tr>
			</form>
			{% endfor%}
		</table>
			<hr>
			<hr>
		<table>
			{% for single in data %}
			<form action="/updateData/">
				<tr>
					<td> {{ single.name }} </td>
					<td> {{ single.password }} </td>
					<td><input type="text" name="nm">
					<td>
						<input type="hidden" name="upd" value="{{single.name}}"> 
						<input type="submit" value="Update">
					</td>
				</tr>
			</form>
			{% endfor %}
		</table>
	</body>
</html>
